<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../Content/css/styles.css">
    <script src="../Content/js/jquery-3.1.1.js" charset="utf-8"></script>
    <script src="../Content/js/scripts.js" charset="utf-8"></script>
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Rock Paper Scissors</h1>
    </div>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>
