<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors</title>
  </head>
  <body>

    <form action="/play" method="post">
      <label for="player1">Player 1</label>
      <select name="player1">
        <option value="1">Rock</option>
        <option value="2">Paper</option>
        <option value="3">Scissors</option>
      </select>
      <label for="player2">Player 2</label>
      <select name="player2">
        <option value="4">computer</option>
        <option value="1">Rock</option>
        <option value="2">Paper</option>
        <option value="3">Scissors</option>
      </select>
      <button type="submit" name="button">Play!</button>
    </form>

  </body>
</html>
