html{
  height: 100%;
  width: 100%;
  word-wrap: break-word;
}

body {
  background-color: #282828;
  color: white;
  font-family: 'Righteous', cursive;
}

.jumbotron {
  background-color: #282828;
  font-family: 'Righteous', cursive;
  padding-left: 10%;
}

.btn{
  position: relative;
  margin: auto;
  left: -32px;
  top: 45px;
  height: 100px;
  width: 260px;
  font-size: 50px;
  background-color: #a3a3a3;
}

.btn:hover {
  box-shadow: 0 0 5px 5px #04ed52;
}
.row {
  height: 100%;
}

.choices-text {
  margin-bottom: 30%;
}


input {
  display: none;
}

.choice {
  height: 190px;
  min-width: 190px;
  background-color: #282828;
  text-align: center;
  border: 2px solid white;
  margin: 2%;
}

.choice:hover {
  box-shadow: 0 0 5px 5px #04ed52;
}

.highlight-box {
  box-shadow: 0 0 5px 5px #04ed52;
}


.choice:nth-child(1) {
  color: white;
}

.stats {
  height: 45vh;
  padding: 1%;
}

.outputdiv {
  text-align: center;
  margin-left: -420px;
  margin-top: 50px;
}

/*Scissors and Paper and Rock*/

.scissors-img {
  transform: rotate(-90deg);
  position: relative;
  top: -150px;
  right: 15%;
  float: right;
}

.paper-img {
  position: relative;
  height: 60px;
  width: 60px;
  background: repeating-linear-gradient(
  90deg,
  #4e72db,
  #4e72db 1px,
  #b8bcad 1px,
  #b8bcad 5px
);
  transform: skew(15deg);
  right: -25px;
  top: -120px;
  opacity: 0.9;
}

.blades {
  height: 90px;
  width: 90px;
  border-radius: 4px;
  box-shadow: 4px 4px 0 -1px gray,
            10px 10px 0 2px black;
  transform: skew(20deg);
}

.handle1 {
  position: relative;
  top: 15px;
  left: 108px;
  height: 40px;
  width: 20px;
  border-radius: 90%;
  box-shadow: 0 0 0 7px black;
  transform: rotate(-25deg);
}

.handle2 {
  height: 40px;
  width: 20px;
  position: relative;
  top: -63px;
  left: 132px;
  border-radius: 90%;
  box-shadow: 0 0 0 7px black;
  transform: rotate(80deg);
}

.rock-img {
  position: relative;
  top: -460px;
  left: 200px;
  transform: rotate(55deg);

}
.rock-base {
    position: relative;
    top: 270px;
    left: 100px;
    width: 54px;
    border-width: 50px 18px 0;
    border-style: solid;
    border-color: #af9883 transparent;
    border-radius: 20px;
    box-shadow: 1px 0 0 black;
}
.rock-edge2 {
    position: relative;
    top: 165px;
    left: 101px;
    width: 10px;
    border-width: 40px 18px 0;
    border-style: solid;
    border-color: #af9883 transparent;
    border-radius: 20px;
    transform: rotate(30deg);
    box-shadow: -1px 0 0 black;
}
.rock-edge1 {
    position: relative;
    top: 210px;
    left: 105px;
    width: 41px;
    border-width: 50px 18px 0;
    border-style: solid;
    border-color: #af9883 transparent;
    border-radius: 20px;
    transform: rotate(-25deg);
  box-shadow: 1px 0 0 black;
}
